# Ignore Mac DS_Store files
.DS_Store

# Laravel - from: https://github.com/github/gitignore/blob/master/Laravel.gitignore

vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/.vs
/Atividades/atividade-pratica/.vs
/Atividades/atividade-pratica/atividade-pratica/bin/Debug/net8.0
/Atividades/atividade-pratica/atividade-pratica/obj
/Atividades/atividade-pratica/atividade-pratica.Client/bin
/Atividades/atividade-pratica/atividade-pratica.Client/obj
/Atividades/atividade-pratica/Domain/obj
/Atividades/atividade-pratica/Domain
/Atividades/Infra/obj
/Atividades/Infra
/Atividades/atividade-pratica/atividade-pratica/bin/Release/net8.0
/Atividades/atividade-pratica/atividade-pratica/appsettings.json
