@inherits LayoutComponentBase

<header>
    <NavSidebar />
    <a href="/" title="Voltar para a Página Inicial" id="logo">
        <img id="logo" src="images/logo.png" alt="logo" />
    </a>
</header>
<main>
    @Body
</main>
<footer>
    <div id="footer">
        <p>Autores: 
            <a href="mailto:felipe.brito@aluno.ufop.edu.br">Felipe Brito</a>, <a href="mailto:leticia.aviz@aluno.ufop.edu.br">Lê Alves</a> e <a href="mailto:unae.tupinambas@aluno.ufop.edu.br">Unaê Tupinambás</a>
        </p>
        <p>Caderno de Notas NoSQL - Desenvolvido para a Disciplina CSI603 - Banco de Dados II</p>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>