@page "/deletado/{notaId}"
@using Caderno_de_Notas_NoSQL.Controllers
@using Caderno_de_Notas_NoSQL.Models
@inject INotasAPIController _NotasAPIController
@attribute [StreamRendering]

<a class="back-link" href="/">←Voltar para todas notas</a>

<h1>Deletado!</h1>

@code {

    [Parameter, EditorRequired]
    public string NotaId { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(NotaId))
        {
            DeleteNota(NotaId);
        }
    }

    async Task DeleteNota(String notaId)
    {
        await _NotasAPIController.Delete(notaId);
    }
}
