@inherits LayoutComponentBase

<header>
    <NavSidebar />
    <a href="/" title="Voltar para a Página Inicial" id="logo">
    </a>
</header>
<main>
    @Body
</main>
<footer>
    <div id="footer">
        <p>Autor: 
            <a href="mailto:felipe.brito@aluno.ufop.edu.br">Felipe Brito</a>
        </p>
        <p>Atividade Prática - Sistema de Agendamento de Doação de Sangue - Desenvolvido para a Disciplina CSI606 - Sistemas WEB I</p>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>