@using Microsoft.AspNetCore.Components.Routing
<nav>
    <NavLink href="" Match="@NavLinkMatch.All" title="Home">
        <img src="/images/home.png" alt="Página Inicial"/>
        <span>Página Inicial</span>
    </NavLink>
</nav>
