@using Microsoft.AspNetCore.Components.Routing
<nav>
    <NavLink href="" Match="@NavLinkMatch.All" title="Home">
        <img src="/images/home.png" alt="Página Inicial"/>
        <span>Página Inicial</span>
    </NavLink>
    @* <NavLink href="novanota" title="Criar Nova Nota">
        <img src="/images/NovaNota.png" alt="Criar Nova Nota"/>
        <span>Criar Nova Nota</span>
    </NavLink> *@
</nav>
